/* Fonts */

@font-face {
    font-family: 'Raleway-Bold', sans-serif;
    src: url(../fonts/Raleway-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Black', sans-serif;
    src: url(../fonts/Roboto-Black.ttf) format('truetype');
}

/* normalize */

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    display: flex;
    color: inherit;
}

ul, ol {
    margin: 0;
    padding-left: 0;
    display: flex;
    list-style: none;
    justify-content: center;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
}

header {
    padding: 24px 0;
    border-bottom: 1px solid #ECECEC;
}

address {
    font-style: normal;
}


:root {
    --font-family-relaway: 'Raleway', sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;
    --color-text-dark: #212121;
    --color-text-grey: #757575;
    --background-color-grey: #2F303A;
    --color-text-blue: #2196F3;
}

html {
    box-sizing: border-box;
}

.body {
    font-family: var(--font-family-roboto);
    letter-spacing: 0.03em;   
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}


.header-inner {
    font-family: var(--font-family-roboto);
    display: flex;
    align-items: center;
    min-width: 1200px;
    display: flex;
}

.logo {
    margin-right: 93px;
}

.logo-word1 {
    font-family: var(--font-family-relaway);
    color: #2196F3;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    
}

.logo-word2 {
    font-family: var(--font-family-relaway);
    color: var(--color-text-dark);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;;
}

.logo-word3 {
    font-family: var(--font-family-relaway);
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
}

.pages-body {
    display: flex;
}

.pages {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    color: var(--color-text-dark);
    letter-spacing: 0.02em;
    min-width: 49px;
    height: 16px;
    padding-right: 50px;
    display: flex;
}

.pages:hover {
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
}

.pages :focus {
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
}

.pages :active {
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
}

.info-body {
    margin-left: auto;
    
}

.info {
    color: var(--color-text-grey);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-right: 50px;
    
}

.info:hover {
    color: var(--color-text-blue);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
}

.face {
    background-color: var(--background-color-grey);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.title-text {
    font-family: var(--font-family-roboto);
    background-color: var(--background-color-grey);
    color: #fff;
    font-weight: 900;
    font-size: 45px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    width: 696px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color: #2196F3;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.06em;
    padding: 10px 32px;
}

.button :hover {
    background-color: #188CE8;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.button :focus {
    background-color: #2196F3;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.hide {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.box-peculiarities {
    width: 270px;
    height: 101px;
    /*  */
    /* */
}

.peculiarities-boxes :not(:last-child) {
    margin-right: 30px;
}

.peculiarities-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--color-text-dark);
    display: flex;
    padding-bottom: 10px;
}

.peculiarities-text {
    color: var(--color-text-grey);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    display: flex;
}

.our-projects {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--color-text-dark);
    text-align: center;
    padding-bottom: 50px;
}


.services {
    margin-right: 30px;
}

.services:last-child {
    margin-right: 0;
}

.our-team-section {
    background-color: #F5F4FA;
}

.employee {
    margin-right: 30px;
}

.employee:last-child {
    margin: 0px;
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--color-text-dark);
    text-align: center;
    margin-bottom: 50px;
}

.name {
    color: var(--color-text-dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    padding-top: 30px;
    text-align: center;
}

.position {
    color: var(--color-text-grey);
    font-size: 16px;
    line-height: 1.1;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}

.footer {
    background-color: var(--background-color-grey);
    align-items: center;
    padding-top: 60px; 
    padding-bottom: 60px;  
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: column;
}

.info-items {
    display: flex;
    flex-direction: column;
}

.map {
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: column;
}

.contacts {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: column;
}

/* portfolio.css */

.projects-button-list {
    padding-bottom: 50px;
    display: flex;

}

.projects-button {
    align-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    /* margin-bottom: 50px; */
    justify-content: space-around;
}

.portfolio-button {
    font-family: var(--font-family-roboto);
    color: var(--color-text-dark);
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 1px solid transparent;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    margin-right: 8px;
    
    
    padding: 6px 22px;
}

.portfolio-button:hover {
    background-color: #2196F3;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio-button :focus {
    background-color: #2196F3;
    color: #fff;
    border: 1px solid transparent;
}

.portfolio-projects-list {
    display: flex;
    flex-wrap: wrap;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--color-text-dark);
    padding-left: 24px;
    padding-top: 20px;
}

.project-text {
    font-size: 16px;
    line-height: 2;
    color: var(--color-text-grey);
    margin-bottom: 20px;
    padding-left: 24px;
    padding-top: 4px;
}

.box {
    border: 1px solid #EEEEEE;
    margin-right: 30px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-bottom: 30px;
}

.last-box {
    border: 1px solid #EEEEEE;
    margin-right: 30px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-bottom: 97px;
}

.box:nth-child(3n) {
    margin-right: 0;
}

.last-box:last-child {
    margin-right: 0;
}