/* Fonts */

@font-face {
    font-family: 'Raleway-Bold', sans-serif;
    src: url(../fonts/Raleway-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Black', sans-serif;
    src: url(../fonts/Roboto-Black.ttf) format('truetype');
}

/* normalize */

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

ul, ol {
    margin: 0;
    padding-left: 0;
    display: inline-block;
    list-style: none;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}
address {
    font-style: normal;
}


:root {
    --font-family-relaway: 'Raleway', sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;
    --color-text-dark: #212121;
    --color-text-grey: #757575;
    --background-color-grey: #2F303A;
    --color-text-blue: #2196F3;
}

html {
    box-sizing: border-box;
}

.body {
    font-family: var(--font-family-roboto);
    letter-spacing: 0.03em;   
}



.header-inner {
    font-family: var(--font-family-roboto);
    display: inline-block;
    border-bottom: 1px;
    border-bottom: 1px solid #ECECEC;
    padding: 30px 0px;
}


.container {
    max-width: 1200px;
    margin: 0px auto;
    /* text-align: center; */
}

.logo-word1 {
    font-family: var(--font-family-relaway);
    color: #2196F3;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin-top: 24px;
}

.logo-word2 {
    font-family: var(--font-family-relaway);
    color: var(--color-text-dark);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin-top: 24px;
    margin-right: 93px;
}

.logo-word3 {
    font-family: var(--font-family-relaway);
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
}

.pages-body {
    display: inline-block;
}

.pages {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    color: var(--color-text-dark);
    letter-spacing: 0.02em;
    min-width: 49px;
    height: 16px;
    margin-right: 50px;
    display: inline-block;
}

.pages:hover {
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
}

.pages :focus {
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
}

.pages :active {
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
}

.info {
    color: var(--color-text-grey);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-right: 50px;
}

.info:hover {
    color: var(--color-text-blue);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
}




.face {
    background-color: var(--background-color-grey);
    display: inline-block;
    min-width: 1600px;
    text-align: center;

}

.title-text {
    font-family: var(--font-family-roboto);
    background-color: var(--background-color-grey);
    color: #fff;
    font-weight: 900;
    font-size: 45px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    margin: 200px auto 30px;
    width: 696px;
    height: 120;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color: #2196F3;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    margin-bottom: 200px;
}

.button :hover {
    background-color: #188CE8;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}
.button :focus {
    background-color: #2196F3;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}


.hide {
    visibility: hidden;
}

.peculiarities-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--color-text-dark);
    display: inline-block;
}

.peculiarities-text {
    color: var(--color-text-grey);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    display: inline-block;
}

.our-projects {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--color-text-dark);
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--color-text-dark);
}

.name {
    color: var(--color-text-dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
}

.position {
    color: var(--color-text-grey);
    font-size: 16px;
    line-height: 1.1;
}

.footer {
    background-color: var(--background-color-grey);
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.map {
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.contacts {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 0.03em;
}

/* portfolio.css */

.portfolio-button {
    font-family: var(--font-family-roboto);
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 1px solid transparent;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    margin-right: 8px;
    margin-bottom: 50px;
}

.portfolio-button:hover {
    background-color: #2196F3;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio-button :focus {
    background-color: #2196F3;
    color: #fff;
    border: 1px solid transparent;
}

.projects {
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--color-text-dark);
}

.project-text {
    font-size: 16px;
    line-height: 2;
    color: var(--color-text-grey);
}