/* Fonts */

@font-face {
    font-family: 'Raleway-Bold', sans-serif;
    src: url(../fonts/Raleway-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Black', sans-serif;
    src: url(../fonts/Roboto-Black.ttf) format('truetype');
}


:root {
    --font-family-relaway: 'Raleway', sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;
    --color-text-dark: #212121;
    --color-text-grey: #757575;
    --background-color-grey: #2F303A;
}

.body {
    font-family: var(--font-family-roboto);
    letter-spacing: 0.03em;
}

.head {
    font-family: var(--font-family-roboto);
}


.logo-word1 {
    font-family: var(--font-family-relaway);
    color: #2196F3;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
}

.logo-word2 {
    font-family: var(--font-family-relaway);
    color: var(--color-text-dark);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
}

.logo-word3 {
    font-family: var(--font-family-relaway);
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
}

.pages {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    color: var(--color-text-dark);
    letter-spacing: 0.02em;
    width: 68px;
    height: 16px;
    
}

.pages:hover {
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
}

.pages :focus {
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
}

.pages :active {
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
}

.info {
    color: var(--color-text-grey);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.info:hover {
    color: var(--color-text-grey);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.face {
    background-color: var(--background-color-grey);
}

.title {
    font-family: var(--font-family-roboto);
    background-color: var(--background-color-grey);
    color: #fff;
    font-weight: 900;
    font-size: 45px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color: #2196F3;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.06em;
}

.button :hover {
    background-color: #188CE8;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}
.button :focus {
    background-color: #2196F3;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}
.hide {
    font-size: 0;
}

.peculiarities-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--color-text-dark);
}

.peculiarities-text {
    color: var(--color-text-grey);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.our-projects {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--color-text-dark);
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--color-text-dark);
}

.name {
    color: var(--color-text-dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
}

.position {
    color: var(--color-text-grey);
    font-size: 16px;
    line-height: 1.1;
}

.footer {
    background-color: var(--background-color-grey);
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.map {
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.contacts {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 0.03em;
}

/* portfolio.css */

.portfolio-button {
    font-family: var(--font-family-roboto);
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 1px solid transparent;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

.portfolio-button:hover {
    background-color: #2196F3;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio-button :focus {
    background-color: #2196F3;
    color: #fff;
    border: 1px solid transparent;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--color-text-dark);
}

.project-text {
    font-size: 16px;
    line-height: 2;
    color: var(--color-text-grey);
}